.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 1em;
    flex: 1;
  }
  
  .search-bar button {
    background-color: #0366d6; 
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #004080; 
  }
  